*.bak
*.exe
*.zip
*.user
*.dat
*.db
*.blend1
*.blend2
*.obj
*.mtl
*.bmp
*.*~

Debug
Release
cap??.bmp
cap??.png
atlas*.bmp
worldgen/*.png
rockgen/*.png
Altera
art/*.png
visstudio


